{% extends "base.html" %}

{% block title_head %}
<title>Paletas</title>
{% endblock title_head %}

{% block h1_header %}
Paletas
{% endblock h1_header %}

{% block main %}
<form action="">
    <input type="text" name="marca" placeholder="Wilson, Head... ">
    <input type="submit" value="Buscar">
</form>

{% if listado_de_paletas %}
<ul>
    {% for paleta in listado_de_paletas %}
    <li>{{paleta}}</li>
    {% endfor %}
</ul>
{% else %}
    No se encontraron paletas.
{% endif %}

{% endblock main %}